@import url('https://cdn.syncfusion.com/ej2/material.css');

#root {
  background-color: #f6f6f9;;
}

.sidebar {
  box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
}
.nav-item,
.navbar {
  z-index: 10000;
}
@media  screen and (max-width:800px) {
  .sidebar{
    z-index: 10000000;
  }
}

.e-dlg-center-center, .e-quick-popup-wrapper.e-device{
  z-index: 1000000 !important;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Highlights */

.highlights .card-content {
  height: 100%;
  width: 100%;
}

.highlights .card-content .card-chart, 
.highlights .card-content .card-chart svg {
  height: 100%;
  width: 100%;
  position: relative;
}

.card-chart p.value {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 40px;
}

.header-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.card-chart svg {
  fill: none;
  stroke: #7380ec;
  stroke-width: 30;
  stroke-linecap: round;
  stroke-dashoffset: -30;
}

.card-chart svg circle {
  stroke-dasharray: 550;
}


/* color-picker style  */

 #preview {
  background: transparent
    url('https://ej2.syncfusion.com/react/demos/src/color-picker/images/pen.png')
    no-repeat;
  display: inline-block;
  height: 80px;
  margin: 10px 0;
  min-width: 300px;
  max-width: 600px;
  background-color: #008000;
}

.e-input-group:not(.e-float-icon-left), .e-input-group.e-success:not(.e-float-icon-left),
 .e-input-group.e-warning:not(.e-float-icon-left), .e-input-group.e-error:not(.e-float-icon-left),
  .e-input-group.e-control-wrapper:not(.e-float-icon-left),
   .e-input-group.e-control-wrapper.e-success:not(.e-float-icon-left),
    .e-input-group.e-control-wrapper.e-warning:not(.e-float-icon-left),
     .e-input-group.e-control-wrapper.e-error:not(.e-float-icon-left){
  border: none;
}

.e-accordion .e-acrdn-item {
  background-color: transparent;
}

/* kanban */

.e-kanban .e-kanban-content {
  margin-top: -10px;
}

.e-kanban, .e-card {
  background-color: transparent;
}

.dark .e-kanban .e-kanban-table.e-content-table .e-content-row:not(.e-swimlane-row) td,
 .dark .e-kanban .e-kanban-table .e-header-cells {
  background-color: rgb(100 116 139);
}

.dark .e-kanban .e-kanban-table .e-header-cells .e-header-text,
 .dark .e-kanban .e-kanban-table .e-header-cells .e-item-count, 
  .dark .e-kanban .e-kanban-content .e-content-row .e-content-cells .e-card-wrapper .e-card .e-card-header .e-card-header-title,
   .dark .e-kanban .e-kanban-content .e-content-row .e-content-cells .e-card-wrapper .e-card .e-card-content{
  color: #ccc;
}

.e-kanban .e-kanban-content .e-content-row .e-content-cells .e-card-wrapper .e-card.e-draggable,
 .e-kanban .e-kanban-content .e-content-row .e-content-cells .e-card-container .e-card.e-draggable:hover {
  background-color: transparent;
}

.e-kanban .e-kanban-content .e-content-row .e-content-cells .e-card-wrapper .e-card.e-draggable .flex:hover {
  transform: scale(1.05);
  transition: all ease-in-out .3s;
}

/* Charts */

.dark #charts_svg rect {
  fill: transparent;
}

.dark #charts_svg text, 
  .dark #line-chart text  {
  fill: #ccc;
}

/* Sidebar Accordion */

.e-accordion .e-acrdn-item .e-acrdn-panel .e-acrdn-content a {
  border-radius: .5rem;
}

.nav-link .flex {
  position: relative;
}

.e-accordion .e-acrdn-item .e-acrdn-panel .e-acrdn-content .underline {
  position: absolute;
  content: "";
  bottom: -1px;
  height: 1px;
  width: 80%;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #ccc;
}

.e-accordion .e-acrdn-item .e-acrdn-panel .e-acrdn-content a:hover .underline {
  visibility: hidden;
}

.e-accordion .e-acrdn-item.e-select>.e-acrdn-header {
  position: relative;
}

.e-accordion .e-acrdn-item .e-acrdn-header .e-acrdn-header-content {
  width: 100%;
}

.e-accordion .e-acrdn-item.e-select.e-selected.e-expand-state.e-active .list-items svg {
  transform: rotate(-180deg);
 }

.e-accordion .e-acrdn-item .e-acrdn-header .e-toggle-icon {
  display: none;
}

/* Tables */

.dark .e-grid .e-table,
 .dark .e-grid .e-pager,
  .dark .e-pager .e-pagercontainer {
    background-color: rgb(100 116 139);
}

.dark .e-headercell, .dark .e-toolbar .e-toolbar-items,
 .dark .e-toolbar.e-control[class*=e-toolbar],
  .dark .e-toolbar .e-toolbar-items .e-toolbar-item .e-tbar-btn.e-btn,
   .dark .e-toolbar .e-hor-nav {
    background-color: rgb(71 85 105);
}

.dark .e-grid .e-table .e-rowcell,
 .dark .e-pager div.e-parentmsgbar,
  .dark .e-headercell,
   .dark .e-input-group input.e-input,
    .dark .e-input-group input.e-input::placeholder,
     .dark .e-grid .e-icons:not(.e-btn-icon), 
      .dark .e-toolbar .e-toolbar-items .e-toolbar-item .e-tbar-btn.e-btn.e-tbtn-txt .e-icons.e-btn-icon,
       .dark .e-toolbar .e-toolbar-items .e-toolbar-item .e-tbar-btn-text {
  color: #ccc;
}

.dark .e-pager .e-icons {
  border-radius: 50%;
}

.dark .e-pager .e-icons:hover {
  cursor: pointer;
}

.dark .e-toolbar .e-toolbar-items .e-toolbar-item .e-tbar-btn.e-btn:hover > span {
  color: red;
}

.e-grid .e-pager {
  display: flex;
  justify-content: space-between;
}

/* User Profile */

.user-profile .chart {
  height: 450px;
}

.user-profile .chart #charts_svg {
  width: 100%;
}

.user-profile .chart:first-child {
  height: -webkit-fill-available;
}